# --- Python ---
__pycache__/
*.pyc

# --- Virtual env ---
.venv/
venv/

# --- Environment ---
.env
*.env

# --- Data (raw + exported) ---
*.csv
*.png
*.sav
*.txt

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Python packaging ---
dist/
build/
*.egg
*.egg-info


# Exceptions
!diabetes.csv
!.gitkeep
!st_display.png
!requirements.txt


