h1, h2, h3 {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
}

.block-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.stMultiSelect {
    margin-top: -12px;
}

.stMultiSelect > div {
    border-radius: 8px;
}

.stButton > button,
.stDownloadButton > button {
    background-color: #6c32ab;
    color: #fafafa;
    border-radius: 8px;
    height: 3em;
}

.stButton > button:hover,
.stButton > button:focus,
.stDownloadButton > button:hover,
.stDownloadButton > button:focus {
    background-color: #5a298f;
    color: #fafafa;
}